_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
_site/about.html
_site/blog.html
_site/index.html
_site/ref.html
_site/2021/12/04/jekyll-hasznalata.html
