<ul id="foot">
    <li id="adress"><a href="https://goo.gl/maps/CECDfUV1AsXNxgiUA"><strong>1098, BP Toronyház u. 3. b.</strong></a></li>
    <li id="soonest">Január 30-án, Vasárnap</li>
    <li><strong>Csatlakozz a <a href="https://fb.me/e/1wlHF5KRN">Facebook eseményhez</a></strong></li>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2202.038098273048!2d19.115220915625603!3d47.46588357917569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741c37aea25845d%3A0x23f15cc232e15410!2zSsOzenNlZiBBdHRpbGEgTGFrw7N0ZWxlcGkgS8O2esO2c3PDqWdpIEjDoXo!5e1!3m2!1shu!2shu!4v1643912592643!5m2!1shu!2shu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</ul>