<aside style="Background: lime; min-width: 200px; max-width: 300px; text-align: center ;padding: 10px 0;margin: 5px auto;box-shadow: 10px 5px 25px rgba(255,255,0,0.7);">
    <h3 style="font-family: 'Source Code Pro';">Erőszakmentesség a buddhizmusban szakszerűen...</h3>
    <img style="max-width: 250px;" src="/assets/images/VK/Dharmacakra.jpg" alt="Dharmakerék, a buddhizmus egyik fő szimbóluma...">
    <p style="margin: 5px; font-size: 16px;">
        <strong>Minden második vasárnap előadás a József Attila Lakótelepi Közösségi Házban. Katt <a href="/VK/VK-index.html">ide</a> a további részletekért!</strong>
    </p>
</aside>