<footer>
    <div>    
        <h2>Az oldal a PilgrimStudio műhelyében készült.</h2>
        <div class="name-card">
            <a href="https://peregrinusz.github.io">
                <img src="https://peregrinusz.github.io/assets/images/PilgrimStudio-logo.webp" alt="PilgrimStudio">
            </a>
            <ul>
                <h3>PilgrimStudio Váltsuk meg a világot!</h3>
                <li><a href="https://peregrinusz.github.io">peregrinusz.github.io</a></li>
                <li><a href="https://github.com/Peregrinusz">github.com/Peregrinusz</a></li>
            </ul>
        </div>
    </div>
</footer>