.reff {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ref-card{
    width: 300px;
    margin: 10px auto;
    background: #0F0C;
    box-shadow: 10px 10px 5px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ref-card img {
    width: 300px;
}
.ref-card a {
    display: block;
    color: black;
    text-decoration: none;
    width: fit-content;
}
.ref-card a h3 {
    margin: 0;
    padding: 10px 0;
}
.ref-card p {
    padding: 10px;
    margin: 0;
}