/*
 Szolgáltatások rövid bemutatása kártyákkal.
 */
.serve-card {
    display: flex;
    align-items: center;
    background-color: #64ff64b3;
    box-shadow: 10px 10px 5px grey;
    max-width: 790px;
    margin: 15px auto;
    border-radius: 2%;
}
.serve-pic {
    width: 150px;
    margin: 10px;
    padding: 5px 20px 5px 10px;
}
.serve-txt {
    margin: 5px;
    font-family: sans;
}
.serve-txt p {
    line-height: 1.5;
    font-size: 18px;
}
.serve-txt h3 {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
    text-align: center;
}
.szolg {
    background: white;
    margin: 0 -10px;
    padding: 15px 25px;
}
