a {
    color: green;
}
nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.2rem 1rem;
}
nav a:hover{
    color: black;
}

.itt {
    display: none;
}
.bloglink {
    color: darkgreen;
}