a {
    color: green;
}
nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.2rem 1rem;
}
nav a:hover{
    color: black;
}
h1 {
    text-align: center;
    margin: 0;
}

.itt {
    display: none;
}
.bloglink {
    color: darkgreen;
}
.bl {
    font-weight: bold;
}