body {
    margin: 0;
    padding: 0;
    background: url(https://peregrinusz.github.io/referencia/VK/assets/images/bg-matrix.png) no-repeat center;
    background-size: cover;
    position: relative;
  }
  
  nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: black;
    position: sticky;
    top: 0;
  }
  nav::after {
    content: "";
    clear: both;
    display: table;
  }
  nav a {
    display: block;
    text-decoration: none;
    color: #22a929;
    padding: 1.2rem 1.2rem;
    font-family: courier;
    font-weight: bold;
  }
  
  main {
    background: #FFF;
    max-width: 620px;
    margin: 0 auto;
    padding: 1px 40px;
  }
  
  h1 {
    font-family: 'Source Code Pro';
  }
  h2 {
    font-family: 'Source Code Pro';
  }
  p {
    font-family: sans-serif;
  }