---
---
html {
    background: url(https://peregrinusz.github.io/assets/images/felhok.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
@import "main.scss";
@import "service.scss";