<nav>
    <label  for="mobil" class="btn-mob">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <input id="mobil" type="checkbox">
    <ul class="menu">
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.link }}"{% if page.url == item.link %} class="itt" {% endif %}>
                {{ item.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <a id="icon" href="/index.html"><img src="/assets/images/VK-logo.png" alt="Pilgrim Studio" id="logo"></a>
</nav>