<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://peregrinusz.github.io/assets/images/PilgrimStudio-logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/PS-styles.css">
    <title>{{page.title}}</title>
    {% feed_meta %}
    {% seo %}
</head>
<body>
    {% include PS-head.html %}
    <div class="main">
        {{content}}
    </div>
</body>
</html>
