<nav>
    <label  for="mobil" class="btn-mob">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <input id="mobil" type="checkbox">
    {%- for i in site.data.spec -%}
        {%- if i.sgn == page.sgn -%}
            <ul class="menu">
                {%- if page.sgn == "VK" -%}
                    {% for item in site.data.VK-nav %}
                        {% if page.url == item.link %}
                            {% continue %}
                        {% else %}
                        <li>
                            <a href="{{ item.link }}">
                                {{ item.name }}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                {%- endif -%}
            </ul>
            <a id="icon" href="{{i.u}}">
                <img src="{{ i.src }}" alt="{{ i.alt }}" id="logo">
            </a>
            {% break %}
        {% elsif page.sgn == "" %}
            <ul class="menu">
                {% for item in site.data.PS-nav %}
                    {% if page.url == item.link %}
                        {% continue %}
                    {% else %}
                    <li>
                        <a href="{{ item.link }}">
                            {{ item.name }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <a id="icon" href="/index.html">
                <img src="/assets/images/PilgrimStudio-logo.webp" alt="Pilgrim Studio" id="logo">
            </a>
        {%- endif -%}
    {%- endfor -%}
</nav>